body {
    background-color: #22354c;
    text-align: center;
    color: #FFF;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#logo {
    width: 30%;
    height: 30%;
    margin-top: 30px;
    margin-bottom: 20px; 
}